:root {
  --border: 6px solid #000;
  --margin: 8%
}

.grandparent {
  border: var(--border);
  margin: var(--margin);
  background-color: #ff4f4f;
}

.parent {
  border: var(--border);
  margin: var(--margin);
  display: flex;
  background-color: #9afd70;
}

.child {
  border: var(--border);
  margin: var(--margin);
  width: 50%;
  height: 100%;
  min-height: 100px;
  background-color: #00b8ff;
}
